# arquivos temporários
*.tmp
*.log
*.cache

# python
__pycache__/
*.pyc

# sistema
.DS_Store
Thumbs.db

# ambiente virtual
venv/
.env

# dados grandes
data_lake/01_raw/
data_lake/02_staging/
data_lake/03_curated/

# arquivos do docker
docker/*.pid

# powerbi autosave
*.pbix.autosave

# OS
.DS_Store
